:root {
  font-size: 150%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: #181818;
  color: white;

  --link: #009FEC;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: var(--link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

nav {
  --link: white;
}
main {
  line-height: 1.4;
}
article {
  max-width: 44rem;
}

dt { font-weight: bold; }

.block { display: block }
.flex { display: flex }
.items-center { align-items: center }
.items-baseline { align-items: baseline }
.mx-auto { margin-left: auto; margin-right: auto }
.pt-8 { padding-top: 2rem }
.pb-8 { padding-bottom: 2rem }
.space-y-1 > * + * { margin-top: 0.25rem }
.space-y-4 > * + * { margin-top: 1rem }
.text-center { text-align: center }
.text-sm { font-size: 0.875rem }
.font-mono { font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace }
.font-bold { font-weight: bold }
